In [54]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("MAST30034 Tutorial 1")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .getOrCreate()
)

# Read the given datasets

In [55]:
ori_transaction1 = spark.read.parquet('../data/tables/transactions_20210228_20210827_snapshot').sort('order_datetime')
ori_transaction2 = spark.read.parquet('../data/tables/transactions_20210828_20220227_snapshot').sort('order_datetime')
 #read the parquet ori_transaction
ori_transaction = ori_transaction1.union(ori_transaction2)
ori_transaction

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|      1| 28000487688|133.22689421562643|0c37b3f7-c7f1-48c...|    2021-02-28|
|  18485| 62191208634| 79.13140006851712|9e18b913-0465-4fd...|    2021-02-28|
|      1| 83690644458|30.441348317517228|40a2ff69-ea34-465...|    2021-02-28|
|  18488| 39649557865| 962.8133405407585|f4c1a5ae-5b76-40d...|    2021-02-28|
|      2| 80779820715| 48.12397733548124|cd09bdd6-f56d-489...|    2021-02-28|
|  18489| 43186523025| 98.14878546968934|9008a98e-1b02-4de...|    2021-02-28|
|      3| 29566626791| 46.33087226118639|26b7574e-81c2-455...|    2021-02-28|
|  18490| 93558142492|232.83335268750145|2bda0665-796f-4f2...|    2021-02-28|
|      3| 32361057556| 87.34942171371054|633a7656-2fcc-4b8...|    2021-02-28|
|  18491| 64974914166|130.12601873970038|4bc15338-83eb-43d...|    2021-02-28|
|      5| 83177825742| 66.66426160206629|43e3b3fe-791b-47f...|    2021-02-28|
|  18493| 43186523025| 69.75645555605993|6c494428-b293-459...|    2021-02-28|
|      6| 21772962346|113.04510652600983|000ca5ac-3247-4ef...|    2021-02-28|
|  18493| 67979471799| 53.03432496202065|dd61feff-5aa3-43d...|    2021-02-28|
|      7| 66079287213| 89.93535555889761|50a5619d-0647-487...|    2021-02-28|
|  18494| 49891706470|21.995368431723854|faac27e9-c054-44d...|    2021-02-28|
|     11| 98269572896|129.46280909485031|8f5d0cab-8055-435...|    2021-02-28|
|  18495| 66667026714|  48.3228941934147|ca150cbf-6e34-489...|    2021-02-28|
|     11| 20692490685|196.93916081228323|09bc8dd6-419f-4cb...|    2021-02-28|
|  18496| 60956456424| 82.30827454121753|d9df2270-6fb9-46e...|    2021-02-28|
+-------+------------+------------------+--------------------+--------------+
only showing top 20 rows

In [86]:
tbl_merchants = spark.read.parquet('../data/tables/tbl_merchants.parquet')
tbl_merchants

+--------------------+--------------------+------------+
|                name|                tags|merchant_abn|
+--------------------+--------------------+------------+
|       Felis Limited|((furniture, home...| 10023283211|
|Arcu Ac Orci Corp...|([cable, satellit...| 10142254217|
|    Nunc Sed Company|([jewelry, watch,...| 10165489824|
|Ultricies Digniss...|([wAtch, clock, a...| 10187291046|
| Enim Condimentum PC|([music shops - m...| 10192359162|
|       Fusce Company|[(gift, card, nov...| 10206519221|
|Aliquam Enim Inco...|[(computers, comP...| 10255988167|
|    Ipsum Primis Ltd|[[watch, clock, a...| 10264435225|
|Pede Ultrices Ind...|([computer progra...| 10279061213|
|           Nunc Inc.|[(furniture, home...| 10323485998|
|Facilisis Facilis...|([computers, comp...| 10342410215|
|      Odio Institute|((equipment, tool...| 10346855916|
|    Rutrum Justo Ltd|([music shops - m...| 10364012396|
|   Tellus Foundation|[[artist supply a...| 10385011947|
|      Sed Et Company|([florists suppli...| 10385163239|
|              Id Ltd|([computers, comp...| 10385250025|
|Consequat Foundation|[[antique shops -...| 10404542215|
|Sit Amet Nulla Corp.|[[motor vehicle s...| 10430380319|
|Massa Vestibulum ...|[(moTor vehicle s...| 10441711491|
|       Ut Consulting|([gift, card, nov...| 10462560289|
+--------------------+--------------------+------------+
only showing top 20 rows

In [84]:
consumer_detail = spark.read.parquet('../data/tables/consumer_user_details.parquet')
consumer_detail

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
|      6|     407340|
|      7|     511685|
|      8|     448088|
|      9|     650435|
|     10|    1058499|
|     11|     428325|
|     12|    1494640|
|     13|    1146717|
|     14|    1343547|
|     15|    1463076|
|     16|    1356405|
|     17|    1331093|
|     18|      80965|
|     19|    1226530|
|     20|    1390367|
+-------+-----------+
only showing top 20 rows

In [85]:
import pandas as pd
tbl_consumer = spark.read.option("delimiter", "|").option("header",True).csv("../data/tables/tbl_consumer.csv")
tbl_consumer

+-----------------+--------------------+-----+--------+-----------+-----------+
|             name|             address|state|postcode|     gender|consumer_id|
+-----------------+--------------------+-----+--------+-----------+-----------+
| Yolanda Williams|413 Haney Gardens...|   WA|    6935|     Female|    1195503|
|       Mary Smith|     3764 Amber Oval|  NSW|    2782|     Female|     179208|
|    Jill Jones MD|  40693 Henry Greens|   NT|     862|     Female|    1194530|
|  Lindsay Jimenez|00653 Davenport C...|  NSW|    2780|     Female|     154128|
|Rebecca Blanchard|9271 Michael Mano...|   WA|    6355|     Female|     712975|
|    Karen Chapman|2706 Stewart Oval...|  NSW|    2033|     Female|     407340|
|     Andrea Jones|   122 Brandon Cliff|  QLD|    4606|     Female|     511685|
| Stephen Williams|6804 Wright Crest...|   WA|    6056|       Male|     448088|
|  Stephanie Reyes|5813 Denise Land ...|  NSW|    2482|     Female|     650435|
| Jillian Gonzales|461 Ryan Common S...|  VIC|    3220|     Female|    1058499|
|     Eugene Lucas|33983 Kevin Drive...|  VIC|    3063|Undisclosed|     428325|
|    Melissa Jones| 13706 Kimberly Port|   WA|    6743|     Female|    1494640|
| Angela Brown PhD|0236 Mills Land S...|  QLD|    4673|     Female|    1146717|
|     Lance Butler|   8943 Kenneth Camp|  VIC|    3332|       Male|    1343547|
|      Paul Abbott|     60495 Ryan Hill|  QLD|    4512|       Male|    1463076|
|       Tracy Hart|9671 Jacob Harbor...|  NSW|    2452|       Male|    1356405|
|    Alyssa Wilson|  44353 Nathan Ridge|  VIC|    3719|     Female|    1331093|
|  Michael Burnett|   89400 Torres Fort|  NSW|    1109|       Male|      80965|
|Victoria Gonzalez|68657 Johnson Gle...|  TAS|    7276|     Female|    1226530|
|     James Norris|   790 Ramos Landing|  VIC|    3234|Undisclosed|    1390367|
+-----------------+--------------------+-----+--------+-----------+-----------+
only showing top 20 rows

# Merchant datasets

In [59]:
grouped_transaction = ori_transaction.groupBy('merchant_abn').agg(F.avg('dollar_value').alias('avg'), F.sum('dollar_value').alias('sum'), F.count('dollar_value').alias('count')).sort('merchant_abn')
grouped_transaction.drop(F.col('order_id'))
grouped_transaction

22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:20 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:21 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+------------+------------------+------------------+-----+
|merchant_abn|               avg|               sum|count|
+------------+------------------+------------------+-----+
| 10023283211|215.90926987519373|401159.42342810996| 1858|
| 10142254217| 38.78146153182171| 66355.08068094695| 1711|
| 10165489824|15786.793361629276| 31573.58672325855|    2|
| 10187291046|114.59161302941558| 22574.54776679487|  197|
| 10192359162|455.32919198910525| 99261.76385362494|  218|
| 10206519221| 37.81027487790516|210527.61052017592| 5568|
| 10255988167| 392.7908275981972|194431.45966110763|  495|
| 10264435225|116.31648103903403| 332897.7687337154| 2862|
| 10279061213| 299.7429497563289| 98015.94457031955|  327|
| 10323485998|127.12173440426125|  757645.537049397| 5960|
| 10342410215| 381.5680236684234| 186205.1955501906|  488|
| 10346855916|1518.4824519304573| 9110.894711582743|    6|
| 10364012396| 432.5972929658491| 8219.348566351133|   19|
| 10385011947| 605.0283444831141| 9680.453511729826|   16|
| 10385163239|347.58586761104044|13208.262969219537|   38|
| 10385250025|496.22087399365086| 200969.4539674286|  405|
| 10404542215|22773.975280323484|22773.975280323484|    1|
| 10430380319|349.28051097882945|28990.282411242846|   83|
| 10441711491| 9734.857620793187| 9734.857620793187|    1|
| 10462560289| 36.53833592739471| 33724.88406098532|  923|
+------------+------------------+------------------+-----+
only showing top 20 rows

In [60]:
grouped_transaction_pd = grouped_transaction.toPandas()
tbl_merchants_pd = tbl_merchants.toPandas()
merchant = pd.merge(grouped_transaction_pd, tbl_merchants_pd)
merchant

22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:32:22 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

,merchant_abn,avg,sum,count,name,tags
0,10023283211,215.909270,4.011594e+05,1858,Felis Limited,"((furniture, home furnishings and equipment sh..."
1,10142254217,38.781462,6.635508e+04,1711,Arcu Ac Orci Corporation,"([cable, satellite, and otHer pay television a..."
2,10165489824,15786.793362,3.157359e+04,2,Nunc Sed Company,"([jewelry, watch, clock, and silverware shops]..."
3,10187291046,114.591613,2.257455e+04,197,Ultricies Dignissim Lacus Foundation,"([wAtch, clock, and jewelry repair shops], [b]..."
4,10192359162,455.329192,9.926176e+04,218,Enim Condimentum PC,"([music shops - musical instruments, pianos, a..."
...,...,...,...,...,...,...
4014,99938978285,29.841844,3.015518e+05,10105,Elit Dictum Eu Ltd,"[(opticians, optical goods, and eyeglasses), (..."
4015,99974311662,276.702797,2.102941e+04,76,Mollis LLP,"((books, periodicals, and newspapers), (b), (t..."
4016,99976658299,149.873298,2.006354e+06,13387,Sociosqu Corp.,"((shoe shops), (a), (take rate: 6.57))"
4017,99987905597,344.174242,3.131986e+04,91,Commodo Hendrerit LLC,"[[motor vehicle Supplies and new parts], [a], ..."
4018,99990536339,1833.046774,3.299484e+04,18,Massa PC,"[(motor vehicle supplies and new parts), (e), ..."

In [61]:
for i in range(int(merchant['tags'].count())):
    merchant['tags'].iloc[i] = merchant['tags'].iloc[i].replace(r'[', r'(').replace(r']', r')')

/var/folders/63/097df8mn6r1d0btnhwhjpkr40000gn/T/ipykernel_89437/3340515154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merchant['tags'].iloc[i] = merchant['tags'].iloc[i].replace(r'[', r'(').replace(r']', r')')

In [62]:
#merchant['tags'].str.split(pat, n=-1, expand=False)
# to split into multiple columns by delimiter
merchant_tags = merchant['tags'].str.split(')', expand=True)

In [63]:
for row in range(int(len(merchant_tags))):
    for col in range(3):
        merchant_tags.iloc[row,col] = merchant_tags.iloc[row,col].replace(r'((', r'').replace(r', (', r'').replace(r'take rate:', r'')
merchant_tags.rename(columns = {0 : 'Store type', 1 : 'Revenue levels', 2 : 'Take rate'}, inplace = True)
merchant_tags = merchant_tags[['Store type', 'Revenue levels', 'Take rate']]

In [64]:
merchant[['Store type', 'Revenue levels', 'Take rate']] = merchant_tags[['Store type', 'Revenue levels', 'Take rate']]
merchant.drop(columns=['tags'])

,merchant_abn,avg,sum,count,name,Store type,Revenue levels,Take rate
0,10023283211,215.909270,4.011594e+05,1858,Felis Limited,"furniture, home furnishings and equipment shop...",e,0.18
1,10142254217,38.781462,6.635508e+04,1711,Arcu Ac Orci Corporation,"cable, satellite, and otHer pay television and...",b,4.22
2,10165489824,15786.793362,3.157359e+04,2,Nunc Sed Company,"jewelry, watch, clock, and silverware shops",b,4.40
3,10187291046,114.591613,2.257455e+04,197,Ultricies Dignissim Lacus Foundation,"wAtch, clock, and jewelry repair shops",b,3.29
4,10192359162,455.329192,9.926176e+04,218,Enim Condimentum PC,"music shops - musical instruments, pianos, and...",a,6.33
...,...,...,...,...,...,...,...,...
4014,99938978285,29.841844,3.015518e+05,10105,Elit Dictum Eu Ltd,"opticians, optical goods, and eyeglasses",b,4.50
4015,99974311662,276.702797,2.102941e+04,76,Mollis LLP,"books, periodicals, and newspapers",b,3.17
4016,99976658299,149.873298,2.006354e+06,13387,Sociosqu Corp.,shoe shops,a,6.57
4017,99987905597,344.174242,3.131986e+04,91,Commodo Hendrerit LLC,motor vehicle Supplies and new parts,a,6.82
4018,99990536339,1833.046774,3.299484e+04,18,Massa PC,motor vehicle supplies and new parts,e,0.18

# Consumer datasets

In [97]:
consumer_detail_pd = consumer_detail.toPandas()
tbl_consumer_pd = tbl_consumer.toPandas()
tbl_consumer_pd['consumer_id']=tbl_consumer_pd['consumer_id'].astype(int)
consumer = pd.merge(tbl_consumer_pd, consumer_detail_pd)

grouped_transaction = ori_transaction.groupBy('user_id').agg(F.avg('dollar_value').alias('avg'), F.sum('dollar_value').alias('sum'), F.count('dollar_value').alias('count')).sort('user_id')
grouped_transaction.drop(F.col('order_id'))
grouped_transaction_df = grouped_transaction.toPandas()
consumer_transaction = pd.merge(consumer, grouped_transaction_df)
consumer_transaction

22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 11:52:33 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

,name,address,state,postcode,gender,consumer_id,user_id,avg,sum,count
0,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,1,155.628359,55092.439121,354
1,Mary Smith,3764 Amber Oval,NSW,2782,Female,179208,2,149.628090,48629.129236,325
2,Jill Jones MD,40693 Henry Greens,NT,862,Female,1194530,3,171.877445,58610.208770,341
3,Lindsay Jimenez,00653 Davenport Crossroad,NSW,2780,Female,154128,4,145.245910,50690.822423,349
4,Rebecca Blanchard,9271 Michael Manors Suite 651,WA,6355,Female,712975,5,171.292928,64234.848046,375
...,...,...,...,...,...,...,...,...,...,...
24076,Maria Lopez,6036 Rosario Mount Apt. 283,QLD,4474,Female,831103,24077,139.858120,48950.342123,350
24077,Mark Fischer,31055 Scott Brooks Apt. 953,WA,6566,Male,487249,24078,154.171001,52418.140507,340
24078,Tony Schmidt,670 Burke Turnpike Apt. 079,VIC,3029,Male,256441,24079,188.457799,59929.580041,318
24079,Amy Russo,4525 Frazier Meadows,NSW,2809,Female,940951,24080,165.986721,54775.617949,330
24080,Jacqueline Rice,98418 Gary Creek Suite 728,VIC,3980,Female,1177416,24081,179.878619,65475.817399,364