In [4]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("MAST30034 Tutorial 1")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .getOrCreate()
)

In [16]:
filename = 'part-00001-cfff5211-ef46-4b99-a6ed-63c9b2c7fe15.c000.snappy'
file = spark.read.parquet('../data/tables/transactions_20210228_20210827_snapshot') #read the parquet files
file1 = file.drop(F.col('order_id')).groupBy('user_id','merchant_abn').agg(F.avg('dollar_value').alias('avg'), F.sum('dollar_value').alias('sum'), F.count('dollar_value').alias('count')).sort('user_id','merchant_abn')
#file2 = file.drop(F.col('order_id')).groupBy('user_id','merchant_abn').agg(F.sum('dollar_value').alias('sum')).sort('user_id','merchant_abn')
#file1 = file.drop(F.col('order_id')).groupBy('user_id','merchant_abn').agg(F.avg('dollar_value').alias('count')).sort('user_id','merchant_abn')

In [18]:
file.drop(F.col('order_id'))

+-------+------------+------------------+--------------+
|user_id|merchant_abn|      dollar_value|order_datetime|
+-------+------------+------------------+--------------+
|  18478| 62191208634|63.255848959735246|    2021-08-20|
|      2| 15549624934| 130.3505283105634|    2021-08-20|
|  18479| 64403598239|120.15860593212783|    2021-08-20|
|      3| 60956456424| 136.6785200286976|    2021-08-20|
|  18479| 94493496784| 72.96316578355305|    2021-08-20|
|      3| 76819856970|  448.529684285612|    2021-08-20|
|  18479| 67609108741|  86.4040605836911|    2021-08-20|
|      3| 34096466752| 301.5793450525113|    2021-08-20|
|  18482| 70501974849| 68.75486276223054|    2021-08-20|
|      4| 49891706470| 48.89796461900801|    2021-08-20|
|  18482| 46804135891|6.6168976971833615|    2021-08-20|
|      7| 33064796871| 373.0873675184212|    2021-08-20|
|  18483| 44160392990| 83.98473054761176|    2021-08-20|
|      7| 68435002949| 232.5364986739752|    2021-08-20|
|  18484| 70033549200| 871.7678061729196|    2021-08-20|
|      7| 41944909975|30.910755230234322|    2021-08-20|
|  18485| 41705715409| 309.5417224575787|    2021-08-20|
|      8| 29566626791| 74.15732460440282|    2021-08-20|
|  18487| 32361057556|119.19055863068847|    2021-08-20|
|      9| 47663262928| 36.69873283148887|    2021-08-20|
+-------+------------+------------------+--------------+
only showing top 20 rows

In [15]:
file1

+-------+------------+------------------+------------------+-----+
|user_id|merchant_abn|               avg|               sum|count|
+-------+------------+------------------+------------------+-----+
|      1| 12771097467| 1536.539158652427| 1536.539158652427|    1|
|      1| 13565102775| 43.51150449374441| 43.51150449374441|    1|
|      1| 14639241847|  93.6776130220769|  93.6776130220769|    1|
|      1| 15061716544| 67.84518399589287| 67.84518399589287|    1|
|      1| 17324645993|15.196465529595457|30.392931059190914|    2|
|      1| 17431888602| 665.2658070006255| 665.2658070006255|    1|
|      1| 17488304283| 249.6960500645783| 249.6960500645783|    1|
|      1| 19575005485|14.277862286033697|14.277862286033697|    1|
|      1| 20885454195|144.15357878706996|144.15357878706996|    1|
|      1| 22033359776| 750.9175201028554|1501.8350402057108|    2|
|      1| 23541969839| 76.97058067609302| 76.97058067609302|    1|
|      1| 24852446429| 50.42412659704224|201.69650638816896|    4|
|      1| 27022400550| 39.05358272941298| 39.05358272941298|    1|
|      1| 28000487688|133.22689421562643|133.22689421562643|    1|
|      1| 28647642474| 110.5870670565107| 110.5870670565107|    1|
|      1| 28687004922| 32.54319607329163| 32.54319607329163|    1|
|      1| 29023134283|15.100376385885541|15.100376385885541|    1|
|      1| 29102388616|25.760349261463237|25.760349261463237|    1|
|      1| 29616684420|55.725336174456494|55.725336174456494|    1|
|      1| 31472801314| 31.84406280507853| 31.84406280507853|    1|
+-------+------------+------------------+------------------+-----+
only showing top 20 rows

In [9]:
consumer = spark.read.parquet('../data/tables/consumer_user_details.parquet')
consumer

+-------+-----------+
|user_id|consumer_id|
+-------+-----------+
|      1|    1195503|
|      2|     179208|
|      3|    1194530|
|      4|     154128|
|      5|     712975|
|      6|     407340|
|      7|     511685|
|      8|     448088|
|      9|     650435|
|     10|    1058499|
|     11|     428325|
|     12|    1494640|
|     13|    1146717|
|     14|    1343547|
|     15|    1463076|
|     16|    1356405|
|     17|    1331093|
|     18|      80965|
|     19|    1226530|
|     20|    1390367|
+-------+-----------+
only showing top 20 rows

In [14]:
tbl = spark.read.parquet('../data/tables/tbl_merchants.parquet')
tbl

+--------------------+--------------------+------------+
|                name|                tags|merchant_abn|
+--------------------+--------------------+------------+
|       Felis Limited|((furniture, home...| 10023283211|
|Arcu Ac Orci Corp...|([cable, satellit...| 10142254217|
|    Nunc Sed Company|([jewelry, watch,...| 10165489824|
|Ultricies Digniss...|([wAtch, clock, a...| 10187291046|
| Enim Condimentum PC|([music shops - m...| 10192359162|
|       Fusce Company|[(gift, card, nov...| 10206519221|
|Aliquam Enim Inco...|[(computers, comP...| 10255988167|
|    Ipsum Primis Ltd|[[watch, clock, a...| 10264435225|
|Pede Ultrices Ind...|([computer progra...| 10279061213|
|           Nunc Inc.|[(furniture, home...| 10323485998|
|Facilisis Facilis...|([computers, comp...| 10342410215|
|      Odio Institute|((equipment, tool...| 10346855916|
|    Rutrum Justo Ltd|([music shops - m...| 10364012396|
|   Tellus Foundation|[[artist supply a...| 10385011947|
|      Sed Et Company|([florists suppli...| 10385163239|
|              Id Ltd|([computers, comp...| 10385250025|
|Consequat Foundation|[[antique shops -...| 10404542215|
|Sit Amet Nulla Corp.|[[motor vehicle s...| 10430380319|
|Massa Vestibulum ...|[(moTor vehicle s...| 10441711491|
|       Ut Consulting|([gift, card, nov...| 10462560289|
+--------------------+--------------------+------------+
only showing top 20 rows

In [12]:
import pandas as pd
tbl_merchant = pd.read_csv('../data/tables/tbl_consumer.csv')
tbl_merchant

           name|address|state|postcode|gender|consumer_id
0       Yolanda Williams|413 Haney Gardens Apt. 742|WA...
1       Mary Smith|3764 Amber Oval|NSW|2782|Female|179208
2       Jill Jones MD|40693 Henry Greens|NT|862|Female...
3       Lindsay Jimenez|00653 Davenport Crossroad|NSW|...
4       Rebecca Blanchard|9271 Michael Manors Suite 65...
...                                                   ...
499994  Jessica Avila|508 Miranda Overpass Apt. 218|QL...
499995  Steven Thornton|7913 Schwartz Mission Suite 48...
499996  Christy Smith|5681 Zachary Mountain Apt. 060|N...
499997  Donna Sutton|54140 Jacob Point|VIC|3989|Female...
499998  Hannah Wilkins|61055 Long Valley|NSW|1755|Fema...

[499999 rows x 1 columns]