In [126]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("MAST30034 Tutorial 1")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .getOrCreate()
)

# Read the given datasets

In [127]:
ori_transaction1 = spark.read.parquet('../data/tables/transactions_20210228_20210827_snapshot').sort('order_datetime')
ori_transaction2 = spark.read.parquet('../data/tables/transactions_20210828_20220227_snapshot').sort('order_datetime')
 #read the parquet ori_transaction
ori_transaction = ori_transaction1.union(ori_transaction2)
ori_transaction

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|      1| 28000487688|133.22689421562643|0c37b3f7-c7f1-48c...|    2021-02-28|
|  18485| 62191208634| 79.13140006851712|9e18b913-0465-4fd...|    2021-02-28|
|      1| 83690644458|30.441348317517228|40a2ff69-ea34-465...|    2021-02-28|
|  18488| 39649557865| 962.8133405407585|f4c1a5ae-5b76-40d...|    2021-02-28|
|      2| 80779820715| 48.12397733548124|cd09bdd6-f56d-489...|    2021-02-28|
|  18489| 43186523025| 98.14878546968934|9008a98e-1b02-4de...|    2021-02-28|
|      3| 29566626791| 46.33087226118639|26b7574e-81c2-455...|    2021-02-28|
|  18490| 93558142492|232.83335268750145|2bda0665-796f-4f2...|    2021-02-28|
|      3| 32361057556| 87.34942171371054|633a7656-2fcc-4b8...|    2021-02-28|
|  18491| 64974914166|130.12601873970038|4bc15338-83eb-43d...|    2021-02-28|
|      5| 83177825742| 66.66426160206629|43e3b3fe-791b-47f...|    2021-02-28|
|  18493| 43186523025| 69.75645555605993|6c494428-b293-459...|    2021-02-28|
|      6| 21772962346|113.04510652600983|000ca5ac-3247-4ef...|    2021-02-28|
|  18493| 67979471799| 53.03432496202065|dd61feff-5aa3-43d...|    2021-02-28|
|      7| 66079287213| 89.93535555889761|50a5619d-0647-487...|    2021-02-28|
|  18494| 49891706470|21.995368431723854|faac27e9-c054-44d...|    2021-02-28|
|     11| 98269572896|129.46280909485031|8f5d0cab-8055-435...|    2021-02-28|
|  18495| 66667026714|  48.3228941934147|ca150cbf-6e34-489...|    2021-02-28|
|     11| 20692490685|196.93916081228323|09bc8dd6-419f-4cb...|    2021-02-28|
|  18496| 60956456424| 82.30827454121753|d9df2270-6fb9-46e...|    2021-02-28|
+-------+------------+------------------+--------------------+--------------+
only showing top 20 rows

In [128]:
tbl_merchants = spark.read.parquet('../data/tables/tbl_merchants.parquet')

In [129]:
consumer_detail = spark.read.parquet('../data/tables/consumer_user_details.parquet')

In [130]:
import pandas as pd
tbl_consumer = spark.read.option("delimiter", "|").option("header",True).csv("../data/tables/tbl_consumer.csv")

In [131]:
import pandas as pd
tbl_consumer = spark.read.option("delimiter", "|").option("header",True).csv("../data/tables/tbl_consumer.csv")

# Merchant datasets

In [132]:
from pyspark.sql.functions import round
grouped_transaction = ori_transaction.groupBy('merchant_abn').agg(F.sum('dollar_value').alias('Amount'), F.count('dollar_value').alias('Count')).sort('merchant_abn')
grouped_transaction.drop(F.col('order_id'))
grouped_transaction = grouped_transaction.withColumn('Monthly Amount', round(grouped_transaction['Amount']/12, 2))
#grouped_transaction = grouped_transaction.withColumn('Round Monthly Amount', round(grouped_transaction['Monthly Amount'], 2))
grouped_transaction = grouped_transaction.withColumn('Monthly Count', round(grouped_transaction['Count']/12, 2))
grouped_transaction

22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:02 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:03 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+------------+------------------+-----+--------------+-------------+
|merchant_abn|            Amount|Count|Monthly Amount|Monthly Count|
+------------+------------------+-----+--------------+-------------+
| 10023283211|401159.42342810996| 1858|      33429.95|       154.83|
| 10142254217| 66355.08068094695| 1711|       5529.59|       142.58|
| 10165489824| 31573.58672325855|    2|       2631.13|         0.17|
| 10187291046| 22574.54776679487|  197|       1881.21|        16.42|
| 10192359162| 99261.76385362494|  218|       8271.81|        18.17|
| 10206519221|210527.61052017592| 5568|      17543.97|        464.0|
| 10255988167|194431.45966110763|  495|      16202.62|        41.25|
| 10264435225| 332897.7687337154| 2862|      27741.48|        238.5|
| 10279061213| 98015.94457031955|  327|        8168.0|        27.25|
| 10323485998|  757645.537049397| 5960|      63137.13|       496.67|
| 10342410215| 186205.1955501906|  488|       15517.1|        40.67|
| 10346855916| 9110.894711582743|    6|        759.24|          0.5|
| 10364012396| 8219.348566351133|   19|        684.95|         1.58|
| 10385011947| 9680.453511729826|   16|         806.7|         1.33|
| 10385163239|13208.262969219537|   38|       1100.69|         3.17|
| 10385250025| 200969.4539674286|  405|      16747.45|        33.75|
| 10404542215|22773.975280323484|    1|       1897.83|         0.08|
| 10430380319|28990.282411242846|   83|       2415.86|         6.92|
| 10441711491| 9734.857620793187|    1|        811.24|         0.08|
| 10462560289| 33724.88406098532|  923|       2810.41|        76.92|
+------------+------------------+-----+--------------+-------------+
only showing top 20 rows

In [133]:
grouped_transaction_pd = grouped_transaction.toPandas()
tbl_merchants_pd = tbl_merchants.toPandas()
merchant = pd.merge(grouped_transaction_pd, tbl_merchants_pd)
merchant

22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:14:05 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

,merchant_abn,Amount,Count,Monthly Amount,Monthly Count,name,tags
0,10023283211,4.011594e+05,1858,33429.95,154.83,Felis Limited,"((furniture, home furnishings and equipment sh..."
1,10142254217,6.635508e+04,1711,5529.59,142.58,Arcu Ac Orci Corporation,"([cable, satellite, and otHer pay television a..."
2,10165489824,3.157359e+04,2,2631.13,0.17,Nunc Sed Company,"([jewelry, watch, clock, and silverware shops]..."
3,10187291046,2.257455e+04,197,1881.21,16.42,Ultricies Dignissim Lacus Foundation,"([wAtch, clock, and jewelry repair shops], [b]..."
4,10192359162,9.926176e+04,218,8271.81,18.17,Enim Condimentum PC,"([music shops - musical instruments, pianos, a..."
...,...,...,...,...,...,...,...
4014,99938978285,3.015518e+05,10105,25129.32,842.08,Elit Dictum Eu Ltd,"[(opticians, optical goods, and eyeglasses), (..."
4015,99974311662,2.102941e+04,76,1752.45,6.33,Mollis LLP,"((books, periodicals, and newspapers), (b), (t..."
4016,99976658299,2.006354e+06,13387,167196.15,1115.58,Sociosqu Corp.,"((shoe shops), (a), (take rate: 6.57))"
4017,99987905597,3.131986e+04,91,2609.99,7.58,Commodo Hendrerit LLC,"[[motor vehicle Supplies and new parts], [a], ..."
4018,99990536339,3.299484e+04,18,2749.57,1.50,Massa PC,"[(motor vehicle supplies and new parts), (e), ..."

In [134]:
for i in range(int(merchant['tags'].count())):
    merchant['tags'].iloc[i] = merchant['tags'].iloc[i].replace(r'[', r'(').replace(r']', r')')

/var/folders/63/097df8mn6r1d0btnhwhjpkr40000gn/T/ipykernel_30340/3340515154.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merchant['tags'].iloc[i] = merchant['tags'].iloc[i].replace(r'[', r'(').replace(r']', r')')

In [135]:
#merchant['tags'].str.split(pat, n=-1, expand=False)
# to split into multiple columns by delimiter
merchant_tags = merchant['tags'].str.split(')', expand=True)

In [136]:
for row in range(int(len(merchant_tags))):
    for col in range(3):
        merchant_tags.iloc[row,col] = merchant_tags.iloc[row,col].replace(r'((', r'').replace(r', (', r'').replace(r'take rate:', r'')
merchant_tags.rename(columns = {0 : 'Store type', 1 : 'Revenue levels', 2 : 'Take rate'}, inplace = True)
merchant_tags = merchant_tags[['Store type', 'Revenue levels', 'Take rate']]

In [137]:
import pyspark.sql.functions as f
merchant[['Store type', 'Revenue levels', 'Take rate']] = merchant_tags[['Store type', 'Revenue levels', 'Take rate']]
#merchant.drop(columns=['tags'])
merchant['Store type'] = merchant['Store type'].str.lower()

for i in range(len(merchant)):
    merchant['Store type'][i] = ' '.join(merchant['Store type'][i].split())

#merchant
merchant.groupby('Store type').count()

/var/folders/63/097df8mn6r1d0btnhwhjpkr40000gn/T/ipykernel_30340/697679775.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merchant['Store type'][i] = ' '.join(merchant['Store type'][i].split())

,merchant_abn,Amount,Count,Monthly Amount,Monthly Count,name,tags,Revenue levels,Take rate
Store type,,,,,,,,,
"antique shops - sales, repairs, and restoration services",125,125,125,125,125,125,125,125,125
art dealers and galleries,112,112,112,112,112,112,112,112,112
artist supply and craft shops,193,193,193,193,193,193,193,193,193
bicycle shops - sales and service,170,170,170,170,170,170,170,170,170
"books, periodicals, and newspapers",164,164,164,164,164,164,164,164,164
"cable, satellite, and other pay television and radio services",175,175,175,175,175,175,175,175,175
"computer programming , data processing, and integrated systems design services",191,191,191,191,191,191,191,191,191
"computers, computer peripheral equipment, and software",181,181,181,181,181,181,181,181,181
"digital goods: books, movies, music",195,195,195,195,195,195,195,195,195
"equipment, tool, furniture, and appliance rent al and leasing",134,134,134,134,134,134,134,134,134
"florists supplies, nursery stock, and flowers",180,180,180,180,180,180,180,180,180
"furniture, home furnishings and equipment shops, and manufacturers, except appliances",182,182,182,182,182,182,182,182,182
"gift, card, novelty, and souvenir shops",182,182,182,182,182,182,182,182,182
health and beauty spas,164,164,164,164,164,164,164,164,164
"hobby, toy and game shops",142,142,142,142,142,142,142,142,142
"jewelry, watch, clock, and silverware shops",88,88,88,88,88,88,88,88,88
"lawn and garden supply outlets, including nurseries",153,153,153,153,153,153,153,153,153
motor vehicle supplies and new parts,151,151,151,151,151,151,151,151,151
"music shops - musical instruments, pianos, and sheet music",167,167,167,167,167,167,167,167,167
"opticians, optical goods, and eyeglasses",151,151,151,151,151,151,151,151,151
shoe shops,185,185,185,185,185,185,185,185,185
"stationery, office supplies and printing and writing paper",161,161,161,161,161,161,161,161,161
telecom,125,125,125,125,125,125,125,125,125
tent and awning shops,178,178,178,178,178,178,178,178,178
"watch, clock, and jewelry repair shops",170,170,170,170,170,170,170,170,170

In [138]:
merchant['Store type'][0]

'furniture, home furnishings and equipment shops, and manufacturers, except appliances'

# Consumer datasets

In [140]:
consumer_detail_pd = consumer_detail.toPandas()
tbl_consumer_pd = tbl_consumer.toPandas()
tbl_consumer_pd['consumer_id']=tbl_consumer_pd['consumer_id'].astype(int)
consumer = pd.merge(tbl_consumer_pd, consumer_detail_pd)
consumer

ERROR:root:KeyboardInterrupt while sending command.                 (1 + 1) / 2]
Traceback (most recent call last):
  File "/opt/homebrew/lib/python3.10/site-packages/py4j/java_gateway.py", line 1038, in send_command
    response = connection.send_command(command)
  File "/opt/homebrew/lib/python3.10/site-packages/py4j/clientserver.py", line 511, in send_command
    answer = smart_decode(self.stream.readline()[:-1])
  File "/opt/homebrew/Cellar/python@3.10/3.10.6_1/Frameworks/Python.framework/Versions/3.10/lib/python3.10/socket.py", line 705, in readinto
    return self._sock.recv_into(b)
KeyboardInterrupt

KeyboardInterrupt:

In [ ]:
grouped_transaction = ori_transaction.groupBy('user_id').agg(F.avg('dollar_value').alias('avg'), F.sum('dollar_value').alias('sum'), F.count('dollar_value').alias('count')).sort('user_id')
grouped_transaction.drop(F.col('order_id'))
grouped_transaction_df = grouped_transaction.toPandas()
consumer_transaction = pd.merge(consumer, grouped_transaction_df)
consumer_transaction

22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/05 12:01:01 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

,name,address,state,postcode,gender,consumer_id,user_id,avg,sum,count
0,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,1,155.628359,55092.439121,354
1,Mary Smith,3764 Amber Oval,NSW,2782,Female,179208,2,149.628090,48629.129236,325
2,Jill Jones MD,40693 Henry Greens,NT,862,Female,1194530,3,171.877445,58610.208770,341
3,Lindsay Jimenez,00653 Davenport Crossroad,NSW,2780,Female,154128,4,145.245910,50690.822423,349
4,Rebecca Blanchard,9271 Michael Manors Suite 651,WA,6355,Female,712975,5,171.292928,64234.848046,375
...,...,...,...,...,...,...,...,...,...,...
24076,Maria Lopez,6036 Rosario Mount Apt. 283,QLD,4474,Female,831103,24077,139.858120,48950.342123,350
24077,Mark Fischer,31055 Scott Brooks Apt. 953,WA,6566,Male,487249,24078,154.171001,52418.140507,340
24078,Tony Schmidt,670 Burke Turnpike Apt. 079,VIC,3029,Male,256441,24079,188.457799,59929.580041,318
24079,Amy Russo,4525 Frazier Meadows,NSW,2809,Female,940951,24080,165.986721,54775.617949,330
24080,Jacqueline Rice,98418 Gary Creek Suite 728,VIC,3980,Female,1177416,24081,179.878619,65475.817399,364

## Guess postcode for the merchant

In [ ]:
merchant_abn_and_consumer_id = ori_transaction['merchant_abn', 'user_id']
#merchant_and_consumer_postcode['consumer postcode'] = c
merchant_abn_and_consumer_id
user_id_and_postcode = consumer['user_id', 'postcode']
user_id_and_postcode

NameError: name 'consumer' is not defined

In [ ]:
ori_transaction.groupby('merchant_abn', 'user_id').count()

22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:50 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:51 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:53 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:55 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.
22/09/12 12:01:56 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

22/09/12 12:01:57 WARN RowBasedKeyValueBatch: Calling spill() on RowBasedKeyValueBatch. Will not spill but return 0.

+------------+-------+-----+
|merchant_abn|user_id|count|
+------------+-------+-----+
| 95574756848|  18835|    1|
| 14492521225|  18977|    1|
| 49891706470|    644|   13|
| 21439773999|  19404|    2|
| 94493496784|  19432|    5|
| 62191208634|   1220|    2|
| 89932674734|   1535|    1|
| 14430838529|  20122|    1|
| 95508140753|  20137|    2|
| 64203420245|  20261|    3|
| 17324645993|   1756|    1|
| 66842618444|  20299|    2|
| 96644705620|  20583|    1|
| 47218919992|   2212|    1|
| 25467145329|   2338|    2|
| 24070342853|  21098|    2|
| 23661821077|   2564|    2|
| 71674475255|   2571|    2|
| 57289898526|  21424|    3|
| 18709053174|  21434|    1|
+------------+-------+-----+
only showing top 20 rows