In [8]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
# Create a spark session (which will run spark jobs)
spark = (
    SparkSession.builder.appName("MAST30034 Tutorial 1")
    .config("spark.sql.repl.eagerEval.enabled", True) 
    .config("spark.sql.parquet.cacheMetadata", "true")
    .config("spark.sql.session.timeZone", "Etc/UTC")
    .getOrCreate()
)

22/09/05 13:52:57 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [9]:
ori_transaction1 = spark.read.parquet('../data/tables/transactions_20210228_20210827_snapshot').sort('order_datetime')
ori_transaction2 = spark.read.parquet('../data/tables/transactions_20210828_20220227_snapshot').sort('order_datetime')
 #read the parquet ori_transaction
ori_transaction = ori_transaction1.union(ori_transaction2)
ori_transaction2

+-------+------------+------------------+--------------------+--------------+
|user_id|merchant_abn|      dollar_value|            order_id|order_datetime|
+-------+------------+------------------+--------------------+--------------+
|     14| 89022158521| 60.67672336066594|8053afb6-38b1-40c...|    2021-08-28|
|      8| 49891706470| 47.31755694261772|534645e3-bc80-41a...|    2021-08-28|
|  14946| 49505931725| 85.73423012207064|37b9fa86-8cf1-495...|    2021-08-28|
|  14938| 53546629749| 659.4359432661599|23519a0e-db53-4b8...|    2021-08-28|
|  14940| 54705111450|100.87325296466584|a44bef39-26db-4da...|    2021-08-28|
|  14942| 89536028092|45.310999359990895|0f24811f-a13b-4e2...|    2021-08-28|
|     14| 43820812476|163.61700277818517|62175fef-d6f5-4bc...|    2021-08-28|
|  14936| 24852446429|  9.78847188379984|5a04b94c-c553-47c...|    2021-08-28|
|      4| 86223953880| 313.0216678687628|6161bda6-030c-42c...|    2021-08-28|
|  14938| 98269572896| 86.80997844773242|a79e1147-9922-4d9...|    2021-08-28|
|      7| 71350572766|113.72666484102889|d6743e55-2463-49c...|    2021-08-28|
|  14942| 14246432250| 50.48081941159114|3085cbaa-1d22-404...|    2021-08-28|
|     13| 46012371285| 204.4355091524303|570e806e-a511-48f...|    2021-08-28|
|     14| 71674475255| 94.52879610579734|1b37852a-cedd-48e...|    2021-08-28|
|  14944| 90543168331|222.41943406185493|d31e9610-bbe1-4f7...|    2021-08-28|
|      1| 45629217853|43.738114835432796|809b9b93-0a7d-462...|    2021-08-28|
|     14| 64203420245|38.603410801924696|59d46ac5-a88b-403...|    2021-08-28|
|      3| 32656335530| 100.1602470950455|8776872a-a340-46f...|    2021-08-28|
|  14936| 72472909171| 28.54034460218744|e997036a-1418-44c...|    2021-08-28|
|      7| 17488304283| 67.95495287248738|e637ca66-ed07-42c...|    2021-08-28|
+-------+------------+------------------+--------------------+--------------+
only showing top 20 rows

In [10]:
ori_transaction2

DataFrame[user_id: bigint, merchant_abn: bigint, dollar_value: double, order_id: string, order_datetime: date]

In [11]:
df = ori_transaction2['user_id', 'merchant_abn',	'dollar_value',	'order_id']
from pyspark.sql.functions import col,isnan,when,count
df2 = df.select([count(when(col(c).contains('None') | \
                            col(c).contains('NULL') | \
                            (col(c) == '' ) | \
                            col(c).isNull() | \
                            isnan(c), c 
                           )).alias(c)
                    for c in df.columns])
df2.show()

+-------+------------+------------+--------+
|user_id|merchant_abn|dollar_value|order_id|
+-------+------------+------------+--------+
|      0|           0|           0|       0|
+-------+------------+------------+--------+